body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(189, 220, 250);
}
svg{
    position: relative;
    right: 12%;
    top: 2%;
    width: 50%;
    height: 50%;
}